.aboutUs{
    background: #0d6efd;
    color: #fff;
}
.ratings{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.rating img{
    margin: 1.2rem;
    width: 120px;
}